@font-face{
    font-family: ptsans;
    src: url(fonts/web/ptsansnarrow.woff) format(woff),
         url(fonts/web/ptsansnarrow.woff2) format(woff2),
         url(fonts/web/ptsansnarrowbold.woff2) format(woff2),
         url(fonts/web/ptsansnarrowbold.woff) format();
}

img{
    max-width: 100%; ;
}

a{
    text-decoration: none;
}

body{
margin: 0;    
background-color: rgb(43, 40, 40);
background-image: url();
}

.header {
    background-color: black;

}

.navigation{
list-style: none;
text-transform:uppercase ;
color: white;
}

.navigation-enter li::before{
    content: image url();
}

